@import url("base.css");

body{
	width: 100%;
	min-height: 100vh;
	padding: var(--space);

	background-color: var(--color-surface);
}

main{
	display: flex;
	flex-flow: column;

	width: 100%;
	height: 100%;
	gap: var(--space-small);
}

footer p{
	font-size: calc(.75rem*var(--font-coef));
}