@import url("base.css");

:host{
	display: flex;
	flex-flow: column;

	gap: var(--space-smaller);
}

.ptv--action{
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	gap: var(--space-small)
}
.action--subgroup{
	display: flex;
	align-items: center;

	gap: var(--space-smaller)
}

.ptv--table > tfoot td{
	padding-block: var(--space-smaller);
}
.ptv--tablecol__text{
	width: 25vw;
}
.ptv--tablecol__number{
	width: calc(var(--space-large)*1.5);
}
.ptv--tablecol__icon{
	width: calc(var(--size-icon) + var(--space-smallest)*2 + 1px);
}

.ptv--form{
	display: flex;
	flex-flow: row;
	align-items: center;

	margin-left: var(--space);
	gap: var(--space-smallest);
}