@import url("base.css");

:host{
	display: table-row;
}

.pv--header__normal{
	font-weight: 400;
}
#pv-number{
	text-align: center;
}
.copyableText--text, .copyableText--icon{
	display: inline-block;
}
.copyableText--text{
	font-family: 'Courier New', Courier, monospace;
}
.copyableText--text:empty + .copyableText--icon{
	opacity: 0;
}
.copyableText--icon{
	margin-left: var(--space-smallest);
}